{
  "serverDomain" : "BURP_COLAB_DOMAIN",
  "eventCapture": {
      "http": {
        "ports" : [80, 8080]
       },
      "https": {
        "ports" : [443, 8443]
      },
      "smtp": {
          "ports" : [8025, 8587]
      },
      "smtps": {
          "ports" : 8465
      }
  },
  "dns": {
      "ports" : 53
   },
}